

/********* NAV *****************/

.navigation-clean-button {
  background:#fff;
  padding-top:10px;
  padding-bottom:10px;
  color:#f4476b;
  border-radius:0;
  box-shadow:none;
  border:none;
  margin-bottom:0;
}

@media (max-width:767px) {
  .navigation-clean-button {
    padding-top:0;
    padding-bottom:0;
  }
}

@media (max-width:767px) {
  .navigation-clean-button .navbar-header {
    padding-top:10px;
    padding-bottom:10px;
  }
}

@media (max-width:767px) {
  .navigation-clean-button .navbar-right {
    margin-bottom:20px;
  }
}

.navigation-clean-button .navbar-brand {
  font-weight:bold;
  color:#309aa8;
}

.navigation-clean-button .navbar-brand:hover {
  color:#2a8391;
}

.navigation-clean-button.navbar-inverse .navbar-brand:hover {
  color:#f0f0f0;
}

.navigation-clean-button .navbar-brand img {
  height:100%;
  display:inline-block;
  margin-right:10px;
  width:auto;
}

.navigation-clean-button .navbar-toggle {
  border-color:#ddd;
}

.navigation-clean-button .navbar-toggle:hover, .navigation-clean-button .navbar-toggle:focus {
  background:none;
}

.navigation-clean-button.navbar-inverse .navbar-toggle {
  border-color:#555;
}

.navigation-clean-button .navbar-toggle .icon-bar {
  background-color:#888;
}

.navigation-clean-button.navbar-inverse .navbar-toggle .icon-bar {
  background-color:#eee;
}

.navigation-clean-button .navbar-collapse, .navigation-clean-button .navbar-form {
  border-top-color:#ddd;
}

.navigation-clean-button.navbar-inverse .navbar-collapse, .navigation-clean-button.navbar-inverse .navbar-form {
  border-top-color:#333;
}

.navigation-clean-button .navbar-nav > .active > a, .navigation-clean-button .navbar-nav > .open > a {
  background:none;
  box-shadow:none;
}

.navigation-clean-button.navbar-default .navbar-nav > .active > a, .navigation-clean-button.navbar-default .navbar-nav > .active > a:focus, .navigation-clean-button.navbar-default .navbar-nav > .active > a:hover {
  color:#8f8f8f;
  box-shadow:none;
  background:none;
  pointer-events:none;
}

.navigation-clean-button.navbar .navbar-nav > li > a {
  padding-left:18px;
  padding-right:18px;
}

.navigation-clean-button.navbar-default .navbar-nav > li > a {
  color:#465765;
}

.navigation-clean-button.navbar-default .navbar-nav > li > a:focus, .navigation-clean-button.navbar-default .navbar-nav > li > a:hover {
  color:#37434d !important;
  background-color:transparent;
}

.navigation-clean-button .navbar-nav > li > .dropdown-menu {
  margin-top:-5px;
  box-shadow:0 4px 8px rgba(0,0,0,.1);
  background-color:#fff;
  border-radius:2px;
}

.navigation-clean-button .dropdown-menu > li > a:focus, .navigation-clean-button .dropdown-menu > li > a {
  line-height:2;
  font-size:14px;
  color:#37434d;
}

.navigation-clean-button .dropdown-menu > li > a:focus, .navigation-clean-button .dropdown-menu > li > a:hover {
  background:#eee;
  color:inherit;
}

@media (max-width:767px) {
  .navigation-clean-button .navbar-nav .open .dropdown-menu {
    box-shadow:none;
  }
}

@media (max-width:767px) {
  .navigation-clean-button .navbar-nav .open .dropdown-menu > li > a {
    color:#37434d;
    padding-top:12px;
    padding-bottom:12px;
    line-height:1;
  }
}

.navigation-clean-button.navbar-inverse {
  background-color:#1f2021;
  color:#fff;
}

.navigation-clean-button.navbar-inverse .navbar-nav > .active > a, .navigation-clean-button.navbar-inverse .navbar-nav > .active > a:focus, .navigation-clean-button.navbar-inverse .navbar-nav > .active > a:hover {
  color:#8f8f8f;
  box-shadow:none;
  background:none;
  pointer-events:none;
}

.navigation-clean-button.navbar-inverse .navbar-nav > li > a {
  color:#dfe8ee;
}

.navigation-clean-button.navbar-inverse .navbar-nav > li > a:focus, .navigation-clean-button.navbar-inverse .navbar-nav > li > a:hover {
  color:#fff !important;
  background-color:transparent;
}

.navigation-clean-button.navbar-inverse .navbar-nav > li > .dropdown-menu {
  background-color:#1f2021;
}

.navigation-clean-button.navbar-inverse .dropdown-menu > li > a:focus, .navigation-clean-button.navbar-inverse .dropdown-menu > li > a {
  color:#f2f5f8;
}

.navigation-clean-button.navbar-inverse .dropdown-menu > li > a:focus, .navigation-clean-button.navbar-inverse .dropdown-menu > li > a:hover {
  background:#363739;
}

@media (max-width:767px) {
  .navigation-clean-button.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color:#fff;
  }
}

.navigation-clean-button .actions {
  margin-top:7px;
  margin-bottom:0;
}

.navigation-clean-button .actions .login {
  margin-right:7px;
  text-decoration:none;
  color:#309aa8;
}

.navigation-clean-button.navbar-inverse .actions .login {
  color:#dfe8ee;
}

.navigation-clean-button.navbar-inverse .actions .login:hover {
  color:#fff;
}

.navigation-clean-button .action-button, .navigation-clean-button .action-button:active {
  background:#309aa8;
  border-radius:20px;
  color:#fff;
  box-shadow:none;
  border:none;
  text-shadow:none;
  padding:10px 22px;
  transition:background-color 0.25s;
}

.navigation-clean-button .action-button:hover {
  background:#2a8391;
}

.navigation-clean-button.navbar-inverse .action-button, .navigation-clean-button.navbar-inverse .action-button:active {
  background:#208f8f;
}

.navigation-clean-button.navbar-inverse .action-button:hover {
  background:#269d9d;
}




/********* CONTENT *****************/

body {
    background:#f1f7fc;
}

#left-head, #right-head{

  font-weight: 200;
  margin-top: 30px;
  color:#309aa8;


}


label {
  margin-top: 10px;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 200;
    color: #309aa8;
    font-size: 1.2em;
}

.btn-primary {
  background-color: #309aa8 !important;
  color: white;
}

.btn {
  background-color: #309aa8 !important;
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 0;
    font-size: 1.2em;
    font-weight: 200;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: none;
    border-radius: 20px;
}

select{
    color: #309aa8 !important;
    font-weight: 200;
}
option:not(:checked) {
    background-color: #309aa8 !important;
    color:white !important;
}

#exampleSelect1:focus {
    outline: none !important;
    border:1px solid #309aa8;
    box-shadow: 0 0 2px #309aa8;
}

#input-textarea:focus {
    outline: none !important;
    border:1px solid #309aa8;
    box-shadow: 0 0 2px #309aa8;
}

/********* SNIPPET *****************/




#right-box{
  height: 500px;
  overflow-y: scroll;;
}

.snippet {
  margin: 0px 30px;
}

#spacer {
  border-top: 1px solid #309aa8;
}


#code-title{
  font-weight: 200;
  font-size: 1.2em;
  color: #309aa8;
  display: inline-block;
}

#description h5{
  font-weight: 200;
  color: grey;
  margin-top: 20px;
  text-align: center;
}

#delete {
  display: inline-block;
  border: none;
  background-color: transparent;
  color: lightgrey;
  font-size: 1em;
  font-weight:bold;
}

#snippet-textarea {
  overflow-y: scroll;
  height: 150px;
  background-color: #2b2b2b;
  padding: 10px;
  word-wrap: break-word;


}

.update {

  border: 1px solid #309aa8;
  width: 200px;
  background-color: #309aa8;
  color: white;
  font-size: 1.2em;
  font-weight: 200;
  visibility: hidden;


}

.update-visible {

  border: 1px solid #309aa8;
  width: 100px;
  background-color: #309aa8;
  color: white;
  font-size: 1.2em;
  font-weight: 200;
  visibility: visible;


}

#snippet-textarea:focus {
    outline: none !important;
    border:1px solid #309aa8;
    box-shadow: 0 0 2px #309aa8;
}

/********* FOOTER *****************/

.footer-clean h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-clean ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-clean ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-clean ul a:hover {
  opacity:1;
}

.footer-clean .item.social {
  text-align:right;
}

@media (max-width:767px) {
  .footer-clean .item {
    text-align:center;
    padding-bottom:20px;
  }
}

@media (max-width:991px) {
  .footer-clean .item.social {
    text-align:center;
  }
}

.footer-clean .item.social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin-left:10px;
  margin-top:22px;
  color:inherit;
  opacity:0.75;
}

.footer-clean .item.social > a:hover {
  opacity:0.9;
}

@media (max-width:991px) {
  .footer-clean .item.social > a {
    margin-top:40px;
  }
}

@media (max-width:767px) {
  .footer-clean .item.social > a {
    margin-top:10px;
  }
}

.footer-clean .copyright {
  margin-top:14px;
  margin-bottom:0;
  font-size:13px;
  opacity:0.6;
}

div.col-md-3.item.social {
  float:right;
}


.footer-clean {
  padding:20px 0;
  margin: 0;
  color:#4b4c4d;
  background-color: white;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: inline-block;;
}
